span {
    flex: 1;
    text-align: center
}

mat-card {
    margin: 2%;
}

button {
    margin: 2px;

}

.button-container {
    margin-left: auto;

    button {
        background-color: #457b9d;
        color: white;
    }
}

th {
    background-color: #457b9d !important;
    color: white;
}